@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #8f4c38;
  --color-secondary: #77574e;
  --color-surface: #fff9ee;
  --color-error: #ba1a1a;
  --font-primary: "Playfair Display", serif;
  --font-display: "Patrick Hand", sans-serif;
}